@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
   
}
li{
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-right: 50px;
	color: white;

}
header{

	background: #A52A2A;
}

.stmp{

	padding-left: 50px ;

	top: -15px;
}


.grafico{
	display: block;
	margin: 0 auto;

}
.texto0{
	text-align: center;
	font-family: 'EB Garamond', serif;

	color: black;
}
}
h4{
	text-align: center;
	color: white;
     
}