@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
   
}
li{
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-right: 50px;
	color: black;

}
header{
	text-align: center;
	background: #A52A2A;
}

.stmp{
	
	left: -100px;

	padding-left: 50px ;
	top: -15px;
}


.grafico{
	display: block;
	margin: 0 auto;

}
.texto0{
	text-align: center;
	

	color: black;
}
}
.h4{
	text-align: center;
	color: white;
     
}
.cuadro{
	border: 5px solid black;
	margin-bottom: 20px;
	color: darkred;
	background: black;
	font-family: 'EB Garamond', serif;
}
.pie{
	background: darkred;
}
