@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
   
}
.menu{
	color: black;
	display: inline-block;
	margin: 10px;
}
header{

	background: #A52A2A;
	
}
.stmpd{

}
.grafico{
	display: block;
	margin: 0 auto;

}
.texto0{
	text-align: center;
	font-family: 'EB Garamond', serif;

	color: black;
}
}
.texto1{
	text-align: center;
	color: white;
     
}